@import '~@angular/material/theming';

@mixin order-bob-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  
  body, p, span{
    color: mat-color($foreground, text);
  }

  :host /deep/ snack-bar-container.snackBarMessage .mat-simple-snackbar{
    color: #ff5722;
   }

 a {
    font-family:'Dosis', sans-serif;
 }

 md-nav-list {
   border-bottom: 1px solid mat-color($foreground, divider);
 }

}

