.user-form {
    width: 500px;
}

.user-full-width {
    width: 100%;
}

 .snackBarMessage, .mat-simple-snackbar {
    color: #ff5722 !important;
}

a, body, button, p, span, div {
    font-family:'Dosis', sans-serif;
 }

