 
<md-list>
    <md-list-item>
        <div mdTooltip="New User" [mdTooltipPosition]="position">
            <a routerLink="new" routerLinkActive="active"><md-icon>add_box</md-icon></a>
        </div>
   </md-list-item>
    <p *ngIf="isLoading">Please Wait...</p>
    <p *ngIf="isUserListEmpty">{{noUsersMessage}}</p>
    <md-list-item *ngFor="let user of pagedUsers">
        <md-icon>person</md-icon>
        <a routerLink="{{user.userId}}" routerLinkActive="active">{{user.firstName}} {{user.lastName}}</a>
    </md-list-item>
</md-list>
<md-paginator [length]="users.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="onPageOptionsChange($event)">
</md-paginator>

